RewriteEngine on
RewriteCond $1 !^(asset|css|fonts|images|js|bootstrap|dist|plugins)
RewriteRule ^(.*)$ index.php [L]
RewriteCond $1 !^(index.php|asset|css|fonts|images|js|bootstrap|dist|plugins)
RewriteRule ^(.*)$ index.php/$1 [L]